<ul class="list-unstyled paymamt-method">
  <li><img width="36" height="26" loading="lazy" src="{{ 'apple-pay.png' | asset_img_url: 'large' }}"/></li>
  <li><img width="36" height="26" loading="lazy" src="{{ 'visa.png' | asset_img_url: 'large' }}"/></li>
  <li><img width="36" height="26" loading="lazy" src="{{ 'master-card.png' | asset_img_url: 'large' }}"/></li>
  <li><img width="36" height="26" loading="lazy" src="{{ 'k-net.png' | asset_img_url: 'large' }}"/></li>
  <li><img width="36" height="26" loading="lazy" src="{{ 'cod.png' | asset_img_url: 'large' }}"/></li>
</ul>